<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Credit Cards</title>

    <style>[ng-cloak] {display: none}</style>
    <link rel="stylesheet" href="/css/bootstrap.css" media="screen" />
    <link rel="stylesheet" href="/css/bootstrap-responsive.css" />
    <link rel="stylesheet" href="/css/site.css" />

    <script type="text/javascript" src="/libs/require-jquery.js"></script>
    <script type="text/javascript">
      require(['../js/common'], function (common) {
        require(['../js/main-app']);
      });
    </script>
  </head>
  <body ng-controller="cardsController" ng-cloak>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <div ng-view></div>

    <div id="cardsearchcontainer" class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="sidebar-nav affix" ng-cloak>
            <ul class="nav nav-list well" style="width: 190px; margin-top: 20px;">
              <li class="nav-header">Card Types</li>
              <li ng-repeat="category in categories" ng-class="setActive(category.Name)">
                <a href="#/{{category.Name}}" data-filter=".{{category.Name}}" mm-cards-filter>
                  {{category.Text}}
                </a>
              </li>
            </ul>
            <div style="margin-top:15px; text-align:center;" ng-cloak>
              <a href="#/category/select" class="btn btn-warning">What Cards Are Best For Me?</a>
            </div>
          </div>
        </div>
        <div class="span10">
          <ul id="cardgrid" mm-cards-grid>
            <li ng-repeat="card in cards">
              <a href="#/card/{{card.ProductCode}}" mm-card-item>
                <abbr title="What are my chances?">
                  <div class="badge">?</div>
                </abbr>
                <img ng-src="{{card.ImageUrl}}" alt="{{card.Name}}">
                <div class="cardinfo">
                  <h5>{{card.Name}}</h5>
                  <table class="table table-condensed">
                    <tbody>
                      <tr>
                        <td><b>Purchases</b></td>
                        <td>{{card.PurchasesText}}</td>
                      </tr>
                      <tr>
                        <td><b>Balance Transfers</b></td>
                        <td>{{card.BalanceTransferText}}</td>
                      </tr>                      
                    </tbody>
                  </table>
                  <p>Can I get this card? Click to find out!</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
