<div id="carddetail" style="display: none;" mm-card-details>
  <div class="hero-unit jumbotron masthead ">
    <h1>
      <span>{{selectedCard.BalanceTransferText}}</span>
      <span ng-show="false">{{selectedCard.PurchasesText}}</span>
    </h1>

    <h3>{{selectedCard.Name}}</h3>

    <div class="hero-content">
      <img class="pull-left" ng-src="{{selectedCard.ImageUrl}}" alt="{{selectedCard.Name}}" />
      <ul>
        <li ng-repeat="detail in selectedCard.BulletsPositive">{{detail}}</li>
      </ul>

      <div class="pull-right">
        <a class="btn btn-large btn-inverse" ng-click="hideCardDetail()">Keep Browsing</a>
        <a class="btn btn-large btn-primary" ng-click="">Check My Eligibility</a>
      </div>
    </div>
  </div>
</div>